VITE_GITHUB_URL=https://github.com/yourusername
VITE_EMAIL_ADDRESS=mailto:your-email@example.com
VITE_TELEGRAM_URL=https://t.me/yourusername
VITE_API_URL=http://localhost:8000

# Логин Dockerhub, в случае, если мы будем билдить 
# контейнер и отправлять в Dockerhub вручную, 
# а не через Github CI/CD
DOCKER_HUB_USER=sample_username