#==========================SERVER .ENV==========================
# Настройки для docker-compose

# BACKEND
# Список фронтенд-доменов, которым разрешён доступ к API
# Используется в CORS (allow_origins)
# Разделяется через запятую, без пробелов
# Пример: http://<host>:5173,http://<host>:<FRONTEND_HOST_PORT>
FRONTEND_ALLOWED_ORIGINS=http://<host>:5173,http://<host>:<FRONTEND_HOST_PORT>


# FRONDEND
#В REACT переменные берутся ТОЛЬКО из секретов И ТОЛЬКО при сборке
#т.е. при изменении переменных нужно пересобирать образ
#смотреть в Github CI/CD (Actions) Secrets 
# VITE_GITHUB_URL=https://github.com/yourusername
# VITE_EMAIL_ADDRESS=mailto:your-email@example.com
# VITE_TELEGRAM_URL=https://t.me/yourusername
# VITE_API_URL=http://<host>:<BACKEND_HOST_PORT>

# DockerHub
DOCKER_HUB_USER=sample_username

# PortsServer (проброс портов)
BACKEND_HOST_PORT=8000
FRONTEND_HOST_PORT=3000