# Список фронтенд-доменов, которым разрешён доступ к API
# Используется в CORS (allow_origins)
# Разделяется через запятую, без пробелов
# Пример: http://localhost:5173,http://localhost:3000
FRONTEND_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Логин Dockerhub, в случае, если мы будем билдить 
# контейнер и отправлять в Dockerhub вручную, 
# а не через Github CI/CD
DOCKER_HUB_USER=sample_username