.container {
  width: 200px;
  margin: 0 auto;
}

.select {
  font-size: 16px;
}

/* Дополнительные стили для react-select */
.react-select__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.react-select__menu {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-select__option {
  color: black !important; /* Черный текст для опций */
}

.react-select__single-value {
  color: black !important; /* Черный текст для выбранного значения */
}